body {
  margin: 0;
  background-color: black;
  color: white;
}

.avatar {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  border: 2px solid #868784;
  text-align: center;
  margin-bottom: 8px;
}

.big-avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: auto;
  border: 5px solid #FEE81E;
  margin-bottom: 20px;
}

.row {
  display: inline!important;
}

.fav-title {
  color: #FEE81E;
  line-height: 30px;
  font-size: 7vh;
}

.star-wars-title {
  color: #FEE81E;
  line-height: 35px;
  font-size: 8vh;
}

.btn-primary {
  background-color: #868784!important;
  border-color: #868784!important;
  font-family: 'Star Jedi';
  font-size: 18px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5)!important;
}

.btn-success {
  background-color: #FEE81E!important;
  border-color: #FEE81E!important;
  font-family: 'Star Jedi';
  font-size: 18px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5)!important;
}

div.column {
  padding: 0px 0px;
}

.films-images {
  height: 130px;
  width: 100%;
  border-radius: 50px;
  object-fit: cover;
  position: relative;
  margin-top: 30px;
}

.film-title {
  color: #FEE81E;
  font-size: 35px;
  margin-top: 0px;
  line-height: 31px;
}

.film-info {
  text-align: center;
  font-family: 'Star Jedi';
}

h1, h2, h3 {
  font-family: 'Star Jedi';
}

.character-list {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.films-index {
  text-align: center;
}

.film-banner {
  width: 100%;
  height: 200px;
  object-fit: cover;
  opacity: 80%;
  position: relative;
}

.ui.grid>[class*="equal width"].row>.column, .ui[class*="equal width"].grid>.column:not(.row), .ui[class*="equal width"].grid>.row>.column {
  padding: 0px 0px;
  margin: 0px 0px;
}

@media only screen and (max-width: 767px) {
  .ui.container {
    margin: 0px 0px!important;
  }
}

.characters-div {
  margin-top: 30px;
}

.ui.grid>.row {
  padding: 0px 0px;
  margin: 0px 0px;
}

.ui.grid {
  padding: 0px 0px;
}

.ui.grid>.column {
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}

.film-title-show {
  color: white;
  position: absolute;
  margin-top: -75px;
  font-size: 40px;
  margin-left: 8px;
  text-align: left;
  line-height: 31px;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
}

.characters-index {
  color: white;
  text-align: center;
  font-size: 15px;
  font-family: 'Ubuntu';
  padding-left: 12px;
}

.special-div {
  margin: 15px 15px;
}

.special-div > p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
}

.character-show {
  text-align: center;
}

.film-poster {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50px;
}
