body {
  margin: 0;
}

.avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.films-images {
  height: 130px;
  width: 288px;
  border-radius: 50px;
  object-fit: cover;
}

h1, h2, h3 {
  font-family: 'Star Jedi';
  /*color: white;*/
}

.character-list {
  text-align: center;
}

/*.ui.button, .ui.buttons .button, .ui.buttons {
  background-color: black;
}*/
