body {
  margin: 0;
  background-color: black;
  color: white;
}

.avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  border: 2px solid #FEE81E;
  text-align: center;
  margin-bottom: 8px;
}

.row {
  display: inline!important;
}

.app-title {
  margin-bottom: 80px;
  margin-top: 40px;
}

.star-wars-title {
  color: #FEE81E;
  line-height: 25px;
  font-size: 8vh;
}

.btn-primary {
  background-color: #FEE81E;
  border-color: #FEE81E;
  font-family: 'Star Jedi';
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

div.column {
  padding: 0px 0px;
}

.films-images {
  height: 130px;
  /*width: 288px;*/
  width: 100%;
  border-radius: 50px;
  object-fit: cover;
  position: relative;
  margin-top: 30px;
  /*opacity: 80%;*/
}

.film-title {
/*  position: absolute;
  top: 100px;
  left: 30px;*/
/*  width: 100%;
  height: 30%;
  font-size: 20px;*/
  color: #FEE81E;
  font-size: 35px;
  margin-top: 0px;
  line-height: 31px;
/*  margin: -10px 0px 0px;
  position: absolute;
  text-align: center;*/
/*  background: rgb(0, 0, 0);*/
}

h1, h2, h3 {
  font-family: 'Star Jedi';
  /*color: white;*/
}

.character-list {
  text-align: center;
}

.films-index {
  text-align: center;
}

.film-banner {
  width: 100%;
  height: 200px;
  object-fit: cover;
  opacity: 80%;
  position: relative;
}

.ui.grid>[class*="equal width"].row>.column, .ui[class*="equal width"].grid>.column:not(.row), .ui[class*="equal width"].grid>.row>.column {
  padding: 0px 0px;
  margin: 0px 0px;
}

@media only screen and (max-width: 767px) {
  .ui.container {
    margin: 0px 0px!important;
  }
}

.ui.grid>.row {
  padding: 0px 0px;
  margin: 0px 0px;
}

.ui.grid {
  padding: 0px 0px;
}

.film-title-show {
  color: white;
  position: absolute;
  margin-top: -75px;
  font-size: 40px;
  margin-left: 8px;
  text-align: left;
  line-height: 31px;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
}

.characters-index {
  color: white;
  /*padding: 0px 0px;*/
  /*margin-left: -10px;*/
  text-align: center;
  font-size: 20px;
  /*margin: 0 auto;*/
  font-family: 'Ubuntu';
  padding-left: 12px;
}

.special-div {
  margin: 15px 15px;
}

.special-div > p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

/*.favorite-button {
  color: #FEE81E;
  font-size: 30px;
  position: absolute;
  top: 100px;
  left: 300px;
}*/

/*button, input, optgroup, select, textarea {
  background-color: transparent;
  border-color: #FEE81E;
}*/

/*.ui.button, .ui.buttons .button, .ui.buttons {
  background-color: black;
}*/
